<div class="container">
	<div id="app-title">
		<h1 class="text-white">Welcome to ResBot</h1>
	</div>
	<div id="first-reservation-col"  class="col">
		<div id="second-reservation-col" class="col">
			<div class="row">
					<div id="reservations-otb" class="card bg-dark mb-3">
						<div class="card-body">
			  				<% @reservations.each do |reservation| %>
								<div id="individual-res-card" class="card bg-secondary text-white">
								  <div class="card-body">
								  	<h5 class="card-title"><%=reservation.res_name%> on <%=reservation.res_day%></h5>
								    <p class="card-text">Party of <%=reservation.party_size%> at <%=reservation.res_time%></p>
								    <p class="card-text">Table: <%=reservation.tabletops_id%></p>
								  </div>
								</div>
							<%end%>
						</div>
					</div>
				<div class="col">
					<div class="card text-white bg-dark mb-3">
						<div class="card-title"><h1>Add Reservation</h1></div>
			  			<div class="card-body">	
			  				<div class="row">
			  					<div class="col">
			  						<div class="partial">	
			  				       		<%= render :partial => "reservations/new" %>
			  						</div>
			  					</div>
			  					<div class="col">
			  						<% flash.each do |type, msg| %>
							            <% if type == 'alert' %>
							              <div class="container">
							                <div class="alert alert-danger">
							                  <%= msg %>
							                </div>
							              </div>
							            <% else %>
							              <div class="container">
							                <div class="alert alert-success">
							                  <%= msg %>
							                </div>
							              </div>
							            <% end %>
							          <% end %>	
			  					</div>
			  				</div>
			  			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



